<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Active Users</title>
</head>
<div align="left"><a href="/main/admin">Admin Page</a> </div>
<body>

<div align="center">
    <h1>Active Users</h1>
    <br>
    <table border="1" cellpadding="10">
        <thead>
        <tr>

            <th>Id</th>
            <th>Username</th>
            <th>Password</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="users : ${usersList}">
            <td th:text="${users.id}">Title</td>
            <td th:text="${users.username}">Category</td>
            <td th:text="${users.password}">User</td>
            <td>
                <span th:each="role : ${users.roles}">
                    <span th:text="${role.name}">Roles</span>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>