<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Answer</title>
</head>
<body>
<div align="left">
    <a href="/main/message">back</a>
</div>
<div align="center">
    <h1>Message</h1>
    <br />
    <form action="#" th:action="@{/main/message/writeMessage/send}" th:object="${message}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>To:</td>
                <td><label>
                    <input type="text" th:field="*{receiver}" readonly="readonly"/>
                </label></td>
            </tr>
            <tr>
                <td>Subject</td>
                <td><label>
                    <input type="text" th:field="*{subject}" />
                </label></td>
            </tr>
            <tr>
                <td><input type="hidden"  th:field="*{sender}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td><input type="hidden"  th:field="*{source}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td><input type="hidden"  th:field="*{deletedBySender}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td><input type="hidden"  th:field="*{deletedByReceiver}" readonly="readonly"/></td>
            </tr>

            <tr>
                <td>Content:</td>
                <td><label>
                    <textarea type="text" Cols="50" placeholder="Type message" th:field="*{message}"></textarea>
                </label></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Send</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>