<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Status</title>
</head>
<body>

<form method="post" action="/main/user_profile/changeStatus">
    <label for="status">
        <input id="status" type="text" name="status" placeholder="Enter status" th:value="${status}">
    </label>
    <input type="submit" placeholder="Submit">
</form>

</body>
</html>