<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Deleted Messages</title>
</head>
<div align="left">
    <a href="/main/message">Back</a>
</div>
<body>
<div align="center">
    <h2>Deleted Sent Messages</h2>
    <table border="1" cellpadding="10">
        <thead>
        <tr>

            <th>To</th>
            <th>Subject</th>
            <th>Sent At</th>
            <th>Options</th>
            <th>Other Options</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="dm : ${deletedSentMessagesList}">
            <td th:text="${dm.receiver}">Receiver</td>
            <td th:text="${dm.subject}">Subject</td>
            <td th:text="${dm.time}">Sent At</td>

            <td>
                <a th:href="@{'/main/message/readDeletedMessage/' + ${dm.id}}">Read</a>
            </td>
            <td>
                <a th:href="@{'/main/message/delete/areYouSureDelete/'+${dm.id}}">Delete</a>
                <a th:href="@{'/main/message/restoreMessage/'+${dm.id}}">Restore</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div align="center">
    <h2>Deleted New Messages</h2>
    <table border="1" cellpadding="10">
        <thead>
        <tr>

            <th>From</th>
            <th>Subject</th>
            <th>Received At</th>
            <th>Options</th>
            <th>Other Options</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="dm : ${deletedNewMessagesList}">
            <td th:text="${dm.sender}">Sender</td>
            <td th:text="${dm.subject}">Subject</td>
            <td th:text="${dm.time}">Sent At</td>

            <td>
                <a th:href="@{'/main/message/readDeletedMessage/' + ${dm.id}}">Read</a>
            </td>
            <td>
                <a th:href="@{'/main/message/delete/areYouSureDelete/'+${dm.id}}">Delete</a>
                <a th:href="@{'/main/message/restoreMessage/'+${dm.id}}">Restore</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div align="center">
    <h2>Deleted Checked Messages</h2>
    <table border="1" cellpadding="10">
        <thead>
        <tr>

            <th>From</th>
            <th>Subject</th>
            <th>Received At</th>
            <th>Options</th>
            <th>Other Options</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="dm : ${deletedCheckedMessagesList}">
            <td th:text="${dm.sender}">Sender</td>
            <td th:text="${dm.subject}">Subject</td>
            <td th:text="${dm.time}">Sent At</td>

            <td>
                <a th:href="@{'/main/message/readDeletedMessage/' + ${dm.id}}">Read</a>
            </td>
            <td>
                <a th:href="@{'/main/message/delete/areYouSureDelete/'+${dm.id}}">Delete</a>
                <a th:href="@{'/main/message/restoreMessage/'+${dm.id}}">Restore</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>