<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Entering page</title>
</head>
<body>
<br>
<div>
    <a href="/login">Log in</a>
    <br>
    <a href="/registration">Sign up</a>

</div>
<div align="center">

    <h1>Blog List</h1>
    <br/><br/>
    <form method="post" action="/filter">
        <input type="text" placeholder="Search by category" name="filter">
        <button type="submit">Find</button>
    </form>
    <br><br>
    <table border="1" cellpadding="10">
        <thead>
        <tr>

            <th>Title</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Category</th>
            <th>User</th>
            <th>Content</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="blog1 : ${listBlog1}">
            <td th:text="${blog1.title}">Title</td>
            <td th:text="${blog1.createdAt}">Created At</td>
            <td th:text="${blog1.updatedAt}">Updated At</td>
            <td th:text="${blog1.category}">Category</td>
            <td th:text="${blog1.username}">User</td>

            <td>
                <a th:href="@{'/read/' + ${blog1.id}}">Read</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>