<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>L0S2</title>
</head>
<body>


<form action="/average/L02" method="post">
    <h2>Math</h2>
    <input name="participation" type="number" step="0.01" placeholder="Enter participation">
    <input name="math_first" type="number" step="0.01" placeholder="First midterm (Analysis + Algebra)">
    <input name="math_final" type="number" step="0.01" placeholder="Final (Analysis + Algebra)">
    <br>
    <h2>Physics</h2>
    <input name="phys_copybook" type="number" step="0.01" placeholder="Course book">
    <input name="phys_first" type="number" step="0.01" placeholder="First midterm">
    <input name="phys_final" type="number" step="0.01" placeholder="Final">
    <br>
    <h2>Chemistry</h2>
    <input name="chem_first" type="number" step="0.01" placeholder="First midterm">
    <input name="chem_copybook" type="number" step="0.01" placeholder="Copybook">
    <input name="chem_final" type="number" step="0.01" placeholder="Final">
    <br>
    <h2>Introduction to Computer Science 1</h2>
    <input name="online" type="number" step="0.01" placeholder="Online evaluation">
    <input name="comp_first" type="number" step="0.01" placeholder="First written exam">
    <input name="comp_final" type="number" step="0.01" placeholder="Final">
    <br>
    <h2>French Language</h2>
    <input name="fr_first" type="number" step="0.01" placeholder="First midterm">
    <input name="fr_speaking" type="number" step="0.01" placeholder="Speaking">
    <input name="fr_final" type="number" step="0.01" placeholder="Final">
    <br>
    <h2>English</h2>
    <input name="en_first" type="number" step="0.01" placeholder="First midterm">
    <input name="en_speaking" type="number" step="0.01" placeholder="Speaking">
    <input name="en_final" type="number" step="0.01" placeholder="Final">
    <br>
    <h2>Humanities</h2>
    <input name="humanities_report" type="number" step="0.01" placeholder="Written Report">
    <input name="humanities_presentation" type="number" step="0.01" placeholder="Oral Presentation">

    <input type="submit" value="Submit">
</form>



</body>
</html>