<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/average/L1S2_CS" method="post">
    <h2>Math</h2>
    <input name="math_first" type="number" step="0.01" placeholder="First midterm">
    <input name="math_second" type="number" step="0.01" placeholder="Second midterm">
    <input name="math_final" type="number" step="0.01" placeholder="Final">
    <br>
    <h2>Physics</h2>
    <input name="vibrations_waves_optics_first" type="number" step="0.01" placeholder="VWO first exam">
    <input name="vibrations_waves_optics_second" type="number" step="0.01" placeholder="VWO second exam">
    <input name="phys_lab_report" type="number" step="0.01" placeholder="Lab Report">
    <br>
    <h2>Data Base</h2>
    <input name="comp_part" type="number" step="0.01" placeholder="Class participation">
    <input name="comp_report" type="number" step="0.01" placeholder="Report, home work">
    <input name="comp_final" type="number" step="0.01" placeholder="Multiple Choice Test">
    <br>
    <h2>Humanities</h2>
    <input name="humanities_production" type="number" step="0.01" placeholder="Production at home">
    <input name="humanities_final" type="number" step="0.01" placeholder="Written Exam">
    <br>
    <h2>French Language</h2>
    <input name="fr_first" type="number" step="0.01" placeholder="First midterm">
    <input name="fr_speaking" type="number" step="0.01" placeholder="Speaking">
    <input name="fr_final" type="number" step="0.01" placeholder="Final">
    <br>
    <h2>English</h2>
    <input name="en_first" type="number" step="0.01" placeholder="First midterm">
    <input name="en_speaking" type="number" step="0.01" placeholder="Speaking">
    <input name="en_final" type="number" step="0.01" placeholder="Final">
    <br>
    <h2>Data Structure and Algorithms 1</h2>
    <input name="DSaA_first" type="number" step="0.01" placeholder="Written Exam">
    <input name="DSaA_practical" type="number" step="0.01" placeholder="Practical Exam">
    <input name="DSaA_final" type="number" step="0.01" placeholder="Final">
    <br>
    <h2>Computer Architecture</h2>
    <input name="arch_first" type="number" step="0.01" placeholder="Written Exam">
    <input name="arch_practical" type="number" step="0.01" placeholder="Practical Exam">
    <input name="arch_final" type="number" step="0.01" placeholder="Final">


    <input type="submit" value="Submit">
</form>


</body>
</html>