<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/average/L2S1_CS" method="post">
    <h2>Math</h2>
    <input name="math_homework" type="number" step="0.01" placeholder="Homework">
    <input name="math_first" type="number" step="0.01" placeholder="First midterm">
    <input name="math_final" type="number" step="0.01" placeholder="Final">
    <br>
    <h2>Physics</h2>
    <h3>Solid and Fluid mechanics</h3>
    <input name="phys_solid_first" type="number" step="0.01" placeholder="First midterm">
    <input name="phys_solid_second" type="number" step="0.01" placeholder="Final">
    <h3>Electricity</h3>
    <input name="phys_el_first" type="number" step="0.01" placeholder="First midterm">
    <input name="phys_el_second" type="number" step="0.01" placeholder="Final">
    <br>
    <h2>Web Programming 2</h2>
    <input name="comp_part" type="number" step="0.01" placeholder="Class participation">
    <input name="comp_report" type="number" step="0.01" placeholder="Report, home work">
    <input name="comp_final" type="number" step="0.01" placeholder="Multiple Choice Test">
    <br>
    <h2>French Language</h2>
    <input name="fr_homework" type="number" step="0.01" placeholder="Homework">
    <input name="fr_speaking" type="number" step="0.01" placeholder="Speaking">
    <input name="fr_final" type="number" step="0.01" placeholder="Final">
    <br>
    <h2>Humanities</h2>
    <input name="humanities_homework" type="number" step="0.01" placeholder="Homework">
    <input name="humanities_final" type="number" step="0.01" placeholder="Written Exam">
    <br>
    <h2>Data Structure and Algorithms 2</h2>
    <input name="DSaA_first" type="number" step="0.01" placeholder="Written Exam">
    <input name="DSaA_practical" type="number" step="0.01" placeholder="Practical Exam">
    <input name="DSaA_final" type="number" step="0.01" placeholder="Final">
    <br>
    <h2>System Programming</h2>
    <input name="system_homework" type="number" step="0.01" placeholder="Homework">
    <input name="system_practical" type="number" step="0.01" placeholder="Practical Exam">
    <input name="system_final" type="number" step="0.01" placeholder="Final">
    <br>
    <h2>Network and Protocols</h2>
    <input name="net_homework" type="number" step="0.01" placeholder="Homework">
    <input name="net_first" type="number" step="0.01" placeholder="First midterm">
    <input name="net_final" type="number" step="0.01" placeholder="Final">

    <input type="submit" value="Submit">
</form>


</body>
</html>