<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/average/L2S2_CS" method="post">
    <h2>Math</h2>
    <input name="math_homework" type="number" step="0.01" placeholder="Homework">
    <input name="math_first" type="number" step="0.01" placeholder="First midterm">
    <input name="math_final" type="number" step="0.01" placeholder="Final">
    <br>
    <h2>Physics</h2>
    <h3>Electronics</h3>
    <input name="phys_el_first" type="number" step="0.01" placeholder="First midterm">
    <input name="phys_el_final" type="number" step="0.01" placeholder="Final">
    <h3>Thermodynamics</h3>
    <input name="phys_ther_first" type="number" step="0.01" placeholder="First midterm">
    <input name="phys_ther_final" type="number" step="0.01" placeholder="Final">
    <h3>Laboratory</h3>
    <input name="phys_lab" type="number" step="0.01" placeholder="PW + report">
    <br>
    <h2>French Language</h2>
    <input name="fr_first" type="number" step="0.01" placeholder="Production at home">
    <input name="fr_speaking" type="number" step="0.01" placeholder="Speaking">
    <input name="fr_final" type="number" step="0.01" placeholder="Final">
    <br>
    <h2>Software Engineering</h2>
    <input name="soft_first" type="number" step="0.01" placeholder="First midterm">
    <input name="soft_practical" type="number" step="0.01" placeholder="Practical Exam">
    <input name="soft_final" type="number" step="0.01" placeholder="Final">
    <br>
    <h2>OOP2</h2>
    <input name="OOP_first" type="number" step="0.01" placeholder="First midterm">
    <input name="OOP_practical" type="number" step="0.01" placeholder="Practical Exam">
    <input name="OOP_final" type="number" step="0.01" placeholder="Final">
    <br>
    <h2>Signal Processing</h2>
    <input name="signal_first" type="number" step="0.01" placeholder="First midterm">
    <input name="signal_second" type="number" step="0.01" placeholder="Second midterm">
    <input name="signal_final" type="number" step="0.01" placeholder="Final">
    <br>
    <h2>Development Techniques</h2>
    <input name="dev_homework_first" type="number" step="0.01" placeholder="First homework">
    <input name="dev_homework_second" type="number" step="0.01" placeholder="Second homework">
    <input name="dev_practical" type="number" step="0.01" placeholder="Practical exam">
    <br>
    <h2>Operating Systems Architectures</h2>
    <input name="OSA_homework_report" type="number" step="0.01" placeholder="homework + report">
    <input name="OSA_practical" type="number" step="0.01" placeholder="Practical exam">
    <input name="OSA_final" type="number" step="0.01" placeholder="Final">

    <input type="submit" value="Submit">
</form>


</body>
</html>