<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Blog page</title>
</head>
<body>

<div align="left">
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<br>
<div align="left">
    Username :
    <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
</div>

<div align="center>">
    <a href="/main/blog">Blog</a>
    <br>
    <a th:if="${role}==admin or ${role}==moderator" href="/main/admin">Admin</a>
    <br>
    <a th:href="@{/main/message}"><span>Messages(<span th:text="${counter}"/>)</span></a>
</div>

</body>
</html>