<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Read Message</title>
</head>
<div align="left">
    <a href="/main/message">back</a>
</div>
<body>
<h2>
    From: <span th:text="${message.sender}" th:remove="tag"></span>
</h2>
<br>
<h2>
    Subject : <span th:text="${message.subject}" th:remove="tag"></span>
</h2>
<br>
<h4>
    Received at : <span th:text="${message.time}" th:remove="tag"></span>
</h4>


<br>
<h3><pre th:text="${message.message}" >Subtitle</pre></h3>

<br><br>
<a th:href="@{'/main/message/answer/'+${message.sender}}">Answer</a>


</body>
</html>