<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Read Message</title>
</head>
<div align="left">
    <a href="/main/message/deleteMessage">back</a>
</div>
<body>
<h2 th:if="${message.source}==${sent}">
    To: <span th:text="${message.receiver}" th:remove="tag"></span>
</h2>
<h2 th:if="${message.source}==${checked}">
    From: <span th:text="${message.sender}" th:remove="tag"></span>
</h2>
<h2 th:if="${message.source}==${new}">
    From: <span th:text="${message.sender}" th:remove="tag"></span>
</h2>
<br>
<h2>
    Subject : <span th:text="${message.subject}" th:remove="tag"></span>
</h2>
<br>
<h2 th:if="${message.source}==${sent}">
    Sent At: <span th:text="${message.time}" th:remove="tag"></span>
</h2>
<h2 th:if="${message.source}==${checked}">
    Received At: <span th:text="${message.time}" th:remove="tag"></span>
</h2>


<br>
<h3><pre th:text="${message.message}" >Subtitle</pre></h3>




</body>
</html>