<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Read Sent Message</title>
</head>
<div align="left">
    <a href="/main/message/sentMessage">back</a>
</div>
<body>
<h2>
    To: <span th:text="${message.receiver}" th:remove="tag"></span>
</h2>
<br>
<h2>
    Subject : <span th:text="${message.subject}" th:remove="tag"></span>
</h2>
<br>
<h4>
    Sent at : <span th:text="${message.sentAt}" th:remove="tag"></span>
</h4>


<br>
<h3><pre th:text="${message.content}" >Subtitle</pre></h3>

</body>
</html>