<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Password Restoring</title>
</head>
<div align="right">
    <a href="/">Main page</a>
</div>
<body>
<div align="center">
    <h1>Create New Text</h1>
    <br />

    <form action="#" th:action="@{'/login/restore_password/'+${restoringCode}}" method="post">
        <label for="password">
            <input name="password" id="password" type="password" placeholder="Password"/>
        </label>
        <br>
        <label for="passwordConfirm">
            <input name="passwordConfirm" id="passwordConfirm" type="password" placeholder="Confirm Password"/>
        </label>
        <br>
        <input type="submit" placeholder="Submit"/>

    </form>
</div>
</body>
</html>