<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sent Messages</title>
</head>
<div align="left">
    <a href="/main/message">Back</a>
</div>
<body>
<div align="center">
    <h2>Sent Messages</h2>
    <table border="1" cellpadding="10">
        <thead>
        <tr>

            <th>To</th>
            <th>Subject</th>
            <th>Sent At</th>
            <th>Options</th>
            <th>Other Options</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="sm : ${sentList}">
            <td th:text="${sm.receiver}">Sender</td>
            <td th:text="${sm.subject}">Subject</td>
            <td th:text="${sm.sentAt}">Received At</td>

            <td>
                <a th:href="@{'/main/message/readSentMessage/' + ${sm.id}}">Read</a>
            </td>
            <td>
                <a th:href="@{'/main/message/delete/SentMessage/'+${sm.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>