<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>All Users</title>
</head>
<div align="left"><a href="/main/admin">Admin Page</a> </div>
<body>


<div align="center">
    <h1>User List</h1>
    <br>
    <form method="post" action="/main/admin/users/filter">
        <input type="text" placeholder="Search by username" name="filter">
        <button type="submit">Find</button>
    </form>
    <br>
    <table border="1" cellpadding="10">
        <thead>
        <tr>

            <th>Id</th>
            <th>Username</th>
            <th>Password</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <td th:text="${user.id}">Title</td>
            <td ><a th:href="@{'/main/admin/users/this_user/' + ${user.id}}"><span th:text="${user.username}"></span></a> </td>
            <td th:text="${user.password}">User</td>
            <td>
                <span th:each="role : ${user.roles}">
                    <span th:text="${role.name}">Roles</span>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
